a {
  text-decoration: none;
}

.card__container {
  align-self: center;
  justify-self: center;
  width: 80%;
  padding: 40px 0 0;
  display: flex;
  overflow-x: scroll;

  align-items: flex-end;
  padding-left: 35px;
  padding-right: 35px;
}

@media (max-height: 720px) {
  .card__container {
    /* height: 80vh; */
  }
}
